
<h1>Lista de Alunos</h1>

@foreach (var dynamic item in @viewBag.Alunos){
<p>
    Alunos : @item.Id <br>
    Nome do Aluno : @Item.Nome <br> 
    Sala do Aluno : @Item.Nome <br> 
    CPF do Aluno : @Item.Nome <br> 
    RA do Aluno : @Item.Nome <br> 
</p>
}